---
import config from "@config/config.json";
import Posts from "@layouts/Posts.astro";
import { BlogPagination } from "@src/components/widgets/BlogPagination";
import Base from "@src/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

type Paginate = (data: any[], options: { pageSize: number }) => any[];

export async function getStaticPaths({ paginate }: { paginate: Paginate }) {
  const allPosts = await getCollection("blog");
  const formattedPosts = allPosts.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );
  return paginate(formattedPosts, {
    pageSize: config.site.pageSize,
  });
}

const { page } = Astro.props;
export const prerender = true;
---

<Base meta_title="Blog">
  <h1 class="mb-8 text-2xl font-bold md:text-3xl">Blog</h1>
  <Posts posts={page.data} />
  <div class="mt-5">
    <BlogPagination
      length={page.lastPage}
      currentPage={page.currentPage}
      firstUrl={`/blog`}
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      client:load
    />
  </div>
</Base>
