---
import { Image } from "astro:assets";
import { cn } from "@src/lib/utils";
import { buttonVariants } from "@components/ui/button";
import menu from "@config/menu.json";
import config from "@config/config.json";
import Logo from "@src/assets/logo.svg";
import { Menu } from "@components/widgets/Menu";

export interface NavigationLink {
  name: string;
  url: string;
}

const { main }: { main: NavigationLink[] } = menu;
---

<header>
  <div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div
      class="flex items-start justify-between gap-2 sm:gap-4 md:items-center"
    >
      <a href="/" class="logo flex items-center">
        <figure>
          <Image
            src={Logo}
            alt={config.site.title}
            width={Logo.width / 2}
            height={Logo.height / 2}
            class="rounded cursor-pointer"
            decoding="async"
            loading="lazy"
          />
          <span class="sr-only">Anish Shobith P S's logo</span>
        </figure>
      </a>
      <div class="relative order-3 flex md:hidden">
        <Menu client:visible>
          <ul class="py-2">
            {
              main?.map((menu) => (
                <li>
                  <a
                    href={menu?.url}
                    class={cn(
                      `${buttonVariants({ variant: "link" })}}`,
                      "block rounded-lg px-4 py-2 text-lg"
                    )}
                  >
                    {menu?.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </Menu>
      </div>
      <ul class="ml-auto hidden items-center gap-6 md:flex lg:flex">
        {
          main?.map((menu) => (
            <li class="text-md block rounded-lg px-2 py-2">
              <a
                href={menu?.url}
                class="relative flex items-center cursor-pointer"
              >
                {menu?.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</header>
