---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { Button, buttonVariants } from "@components/ui/button";
import Hover from "@src/components/widgets/HoverCard";
import config from "@config/config.json";
import { cn } from "@src/lib/utils";
import ProfileImage from "@src/assets/profile.png";
import { Spotlight } from "@src/components/shared/Spotlight";

interface SocialItem {
  name: string;
  url: string;
  msg: string;
}

const socialData: SocialItem[] = [
  {
    name: "github",
    url: "https://github.com/anishshobithps",
    msg: "Follow",
  },
  {
    name: "instagram",
    url: "https://instagram.com/anishshobithps",
    msg: "Follow",
  },
  {
    name: "twitter",
    url: "https://x.com/anishshobithps",
    msg: "Follow",
  },
  {
    name: "linkedin",
    url: "https://linkedin.com/in/anishshobithps",
    msg: "Follow",
  },
];
---

<section>
  <Spotlight
    className="-top-80 left-0 md:left-60 md:-top-20"
    fill="hsla(23, 68%, 37%, 1)"
    client:load
  />
  <div class="mx-auto max-w-screen-lg px-4 py-0 sm:px-6 pb-6 sm:pb-12 lg:px-8">
    <div class="flex items-start justify-between">
      <div class="rounded-lg w-3/5">
        <h1 class="font-extrabold sm:text-4xl text-lg">
          {config.author.name},
        </h1>
        <h2 class="text-medium font-semibold inline italic">
          {config.author.designation}
        </h2>
        <h3 class="mt-3 text-sm md:text-lg">
          Self taught programmer, passionate about
          <Hover
            text="Web"
            description="A system of interconnected public webpages accessible through the Internet."
            client:load
          />
          and
          <Hover
            text="Automation"
            description="The use of technology to perform tasks with reduced human assistance."
            client:load
          />
        </h3>
        <div class="flex pt-4 m-auto space-x-2">
          {
            socialData.map((item) => (
              <a
                class={cn(
                  `${buttonVariants({ variant: "link", size: "icon" })}}`,
                  `cursor-pointer`
                )}
                href={item.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name={`mdi:${item.name}`} class="size-8 cursor-pointer" />
                <span class="sr-only">{item.name}</span>
              </a>
            ))
          }
        </div>
        <div class="flex space-x-5 pt-8 m-auto cursor-pointer">
          <a
            class={cn(
              `${buttonVariants({ variant: "default" })}}`,
              "cursor-pointer"
            )}
            href="/resume.pdf"
            target={"_blank"}>Resume</a
          >
          <Button
            className="cursor-pointer"
            aria-label="Schedule a Call"
            aria-expanded="false"
            variant={"secondary"}
            data-cal-link="anishshobithps/meet"
            data-cal-namespace="meet"
            data-cal-config='{"layout":"month_view"}'
          >
            Schedule a Call
          </Button>
        </div>
      </div>
      <div class="rounded-lg">
        <figure class="right-0">
          <Image
            class="rounded-xl w-24 md:w-32"
            src={ProfileImage}
            alt={config.author.name}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
