---
import { SITE } from '~/ts/config';
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import me from "~/assets/images/setup.webp";

import { gear } from '~/ts/data';
import Tool from '~/components/widgets/Tool.astro';
import ToolsSection from '~/components/widgets/ToolSection.astro';

const meta = {
  title: 'Gear',
  description: SITE.description,
};

const {
  title = 'The gear I own',
  subtitle = 'If you’re like me and you enjoy geeking out over tech, setups, software, equipment and all that then you’re probably curious what I use.',
  highlight,
  image = { src: import('~/assets/images/setup.webp'), alt: 'My setup' },
} = Astro.props;
---
<Layout {meta}>
<section class='py-16 md:py-20'>
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    {
      (title || subtitle || highlight) && (
        <div class="mb-10 md:mx-auto text-center md:mb-12 max-w-3xl">
          {highlight && (
            <p
              class="text-base text-primary dark:text-blue-200 font-semibold tracking-wide uppercase"
              set:html={highlight}
            />
          )}
          {title && (
            <h2
              class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
              set:html={title}
            />
          )}
          {subtitle && (
            <p class="max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400" set:html={subtitle} />
          )}
        </div>
      )
    }
  </div>
  <div class="space-x-10 space-y-20">
  <div aria-hidden="true" class="mt-10 md:mt-0">
    {
      image && (
        <div class="relative m-auto max-w-4xl">
          {typeof image === 'string' ? (
            <Fragment set:html={image} />
          ) : (
            <Image
              src={me}
              alt="My setup"
              class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
              loading={"eager"}
              sizes="(max-width: 768px) 100vw, 432px"
            />
          )}
        </div>
      )
    }
  </div>
    {
      gear.map(({ name, items }) => (
        <ToolsSection title={name}>
          {
            items.map(item => (
              <Tool title={item} />
            ))
          }  
        </ToolsSection>
      ))
    }
    </div>
  </section>
</Layout>
