---
import { Icon } from "astro-icon/components";
import Image from "@components/shared/Image.astro";
import { Button, buttonVariants } from "@components/ui/button";
import Hover from "@components/widgets/Hover";
import config from "@config/config.json";
import { cn } from "@src/lib/utils";
import ProfileImage from "@src/assets/profile.png";

interface SocialItem {
  name: string;
  url: string;
  msg: string;
}

const socialData: SocialItem[] = [
  {
    name: "github",
    url: "https://github.com/anishshobithps",
    msg: "Follow",
  },
  {
    name: "instagram",
    url: "https://instagram.com/anishshobithps",
    msg: "Follow",
  },
  {
    name: "twitter",
    url: "https://x.com/anishshobithps",
    msg: "Follow",
  },
  {
    name: "linkedin",
    url: "https://linkedin.com/in/anishshobithps",
    msg: "Follow",
  },
];
---

<section>
  <div class="mx-auto max-w-screen-lg px-4 py-0 sm:px-6 pb-6 sm:pb-12 lg:px-8">
    <div class="flex items-start justify-between">
      <div class="rounded-lg w-3/5">
        <h1 class="text-lg md:text-2xl font-bold sm:text-3xl mb-0">
          {config.author.name}, <span
            class="text-medium font-semibold inline brush"
            >{config.author.designation}</span
          >
        </h1>
        <p class="mt-1.5 text-sm md:text-lg">
          I'm an engineering student in my final year at St. Joseph Engineering
          College from
          <a
            href="https://www.google.com/maps/place/Mangaluru,+Karnataka/@12.9229922,74.8520636,12z/data=!3m1!4b1!4m6!3m5!1s0x3ba35a4c37bf488f:0x827bbc7a74fcfe64!8m2!3d12.9141417!4d74.8559568!16zL20vMDFzdjZr?entry=ttu"
            target="_blank"
            aria-label="Mangaluru, Karnataka, India"
          >
            Mangaluru, India
          </a>.
          <br />
          <br />
           Passionate about
          <Hover
            text="Web"
            description="A system of interconnected public webpages accessible through the Internet."
            client:load
          />
           and
          <Hover
            aria-label="Automation"
            text="Automation"
            description="The use of technology to perform tasks with reduced human assistance."
            client:load
          />.
        </p>
        <div class="flex pt-8 m-auto space-x-2">
          {
            socialData.map((item) => (
              <a
                class={cn(
                  `${buttonVariants({ variant: "link", size: "icon" })}}`,
                  `cursor-pointer`
                )}
                href={item.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name={`mdi:${item.name}`} class="size-8 cursor-pointer" />
                <span class="sr-only">{item.name}</span>
              </a>
            ))
          }
        </div>
        <div class="flex space-x-5 pt-8 m-auto cursor-pointer">
          <a
            class={cn(
              `${buttonVariants({ variant: "default" })}}`,
              "cursor-pointer"
            )}
            href="/resume.pdf"
            target={"_blank"}>Resume</a
          >
          <Button
            className="cursor-pointer"
            aria-label="Schedule a Call"
            aria-expanded="false"
            variant={"secondary"}
            data-cal-link="anishshobithps/meet"
            data-cal-namespace="meet"
            data-cal-config='{"layout":"month_view"}'
          >
            Schedule a Call
          </Button>
        </div>
      </div>
      <div class="rounded-lg">
        <figure class="right-0">
          <Image
            class="rounded-xl w-24 md:w-32"
            src={ProfileImage}
            alt={config.author.name}
            decoding="async"
            loading="lazy"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
