---
import { buttonVariants } from "@components/ui/button";
import FormattedDate from "@components/widgets/FormattedDate.astro";
import config from "@config/config.json";
import CalendarIcon from "@icons/CalendarIcon.astro";
import CategoryIcon from "@icons/CategoryIcon.astro";
import Base from "@src/layouts/BaseLayout.astro";
import { slugify } from "@src/lib/slug";
import { cn } from "@src/lib/utils";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import ProfileImage from "@src/assets/profile.png";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage, categories, tags } =
  Astro.props;
---

<Base meta_title={title} description={description} image={heroImage} blogpost>
  <article>
    <div class="mb-8 block overflow-hidden rounded-lg">
      {
        heroImage && (
          <Image
            class="transition duration-300 ease-in-out hover:scale-110"
            src={import(`@src/assets/blogs/${heroImage}.jpg`)}
            alt={title}
            width={960}
            height={480}
            decoding="async"
            loading="lazy"
            aria-label={title}
          />
        )
      }
    </div>
    <div class="md:col-10 mb-12 text-center">
      <h1 class="text-2xl font-bold md:text-4xl">{title}</h1>
      <div class="text-text mt-4 flex flex-wrap items-center justify-center">
        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <figure>
            <Image
              alt={config.author.name}
              class="mr-2 h-6 w-6 rounded-full"
              width={50}
              height={50}
              src={ProfileImage}
              decoding="async"
              loading="lazy"
            />
          </figure>
          <span>{config.author.name}</span>
        </div>
        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <CalendarIcon />
          <FormattedDate date={pubDate} />
        </div>
        <div class="mx-3 mt-2 flex flex-wrap items-center font-medium">
          <CategoryIcon />
          {
            categories?.slice(0, 1).map((category) => (
              <a
                href={`/categories/${slugify(category)}`}
                class="mr-2 cursor-pointer font-medium capitalize hover:text-primary"
              >
                {category}
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <div
      class="prose-md prose min-w-full text-white md:prose-lg prose-headings:mt-10 prose-headings:font-bold prose-headings:text-[#5383ec] prose-a:text-[#f1bf42] prose-a:hover:cursor-pointer prose-blockquote:text-indigo-500 prose-strong:text-[#f1bf42]"
    >
      <slot />
    </div>
    <div class="mt-8">
      {
        tags?.map((tag) => (
          <a
            href={`/tags/${slugify(tag)}`}
            class={cn(
              `${buttonVariants({ variant: "ghost" })}}`,
              "cursor-pointer capitalize",
            )}
          >
            #{tag}
          </a>
        ))
      }
    </div>
  </article>
</Base>
